body {
    background-color: rgb(16, 16, 16);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}






#settings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    border-radius: 10px;
}
.settings {
    margin-top: 10px;
    width: 45%;
    height: auto;
    text-align: center;
    background-color: rgb(20, 214, 228);
    margin: 10px;
    border-radius: 10px;
    
}

.settings:hover {
    background-color: white;
    color: rgb(10,10,10);
    transition: 0.4s;
}

.connected {
    width: 5px;
    height: 5px;
    background: rgb(80, 250, 46);
    border-radius: 50%;
  }

  .disconnected {
    width: 5px;
    height: 5px;
    background: rgb(255, 0, 0);
    border-radius: 50%;
  }








#logo {
    align-self: center;
    padding: 10px;
    background-color: rgb(16, 16, 16);
    border-radius: 50%
}
#logo img {
    height: 350px;
    width: auto;
    animation: pulse 2s linear infinite;
}


#table {
    align-self: center;
    background-color: rgb(10,10,10);
    border-radius: 10px;
    margin-top: 25px;
}

#table td {
    padding: 5px;
    color: white
}
#table tr {
    text-align: center;
}

.table-icon {
    width: 25px;
    height: auto;
}






@-webkit-keyframes "pulse" {
0% {
 -webkit-transform: scale(0.9);
 transform: scale(0.9);
}
50% {
    -webkit-transform: scale(1);
    transform: scale(1);
 }
100% {
 -webkit-transform: scale(0.9);
transform: scale(0.9);
}
}