body {
  background-color: rgb(16, 16, 16);
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#logo {
  align-self: center;
  padding: 10px;
  background-color: rgb(16, 16, 16);
  border-radius: 50%;
}
#logo img {
  height: 250px;
  width: auto;
  animation: pulse 2s linear infinite;
}

#settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  border-radius: 10px;
}
.full-bar {
  margin-top: 10px;
  width: 90%;
  height: auto;
  text-align: center;
  background-color: rgb(20, 214, 228);
  margin: 10px;
  border-radius: 10px;
}

.full-bar.status {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  /* transition: 10s; */
}

.full-bar.deselected:hover {
  background-color: white;
  color: rgb(10, 10, 10);
  transition: 0.4s;
}
 
#api_key {
  margin-bottom: 15px;
}


.autofill {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

#save-autofill:hover {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
  transition: 0.4s;
}







#table {
  align-self: center;
  background-color: rgb(10, 10, 10);
  border-radius: 10px;
  margin-top: 25px;
}

#table td {
  padding: 5px;
  color: white;
}
#table tr {
  text-align: center;
}

.table-icon {
  width: 25px;
  height: auto;
}

@-webkit-keyframes "pulse" {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

input {
  color: white;
  max-width: 90%;
  min-width: 90%;
  border-radius: 10px;
  padding: 1%;
  background-color: rgb(16, 16, 16);
  border-color: rgb(16, 16, 16);
  transition: 0.1s;
}

textarea {
  /* border:1px solid #999999; */
  color: white;
  max-width: 90%;
  min-width: 90%;
  height: 80%;
  margin: 5px;
  padding: 1%;
  border-radius: 10px;
  background-color: rgb(16, 16, 16);
  border-color: rgb(16, 16, 16);
  transition: 0.1s;
  /* box-shadow: 0 0 10px rgb(114, 246, 255); */
}
textarea:focus {
  outline: none !important;
  border-color: rgb(16, 16, 16);
  box-shadow: 0 0 3px rgb(114, 246, 255);
  transition: 0.1s;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.options-item {
  margin-left: 10px;
  margin-right: 10px;
}



.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #00ff99;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
