body {
    background-color: rgb(80, 83, 83);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header {
    color: rgb(0, 0, 0);
    text-align: center;
    height: 10%;
}

#logo {
    align-self: center;
    padding: 20px;
}
#logo img {
    height: 350px;
    width: auto;
    border-radius: 50%;
    animation: pulse 1s linear infinite;
}


#table {
    align-self: center;
    background-color: rgb(10,10,10);
    border-radius: 10px;
}

#table td {
    padding: 5px;
    color: rgb(80,83,83)
}
#table tr {
    text-align: center;
}

.table-icon {
    width: 25px;
    height: auto;
}






@-webkit-keyframes "pulse" {
0% {
 -webkit-transform: scale(0.9);
 transform: scale(0.9);
}
50% {
    -webkit-transform: scale(1);
    transform: scale(1);
 }
100% {
 -webkit-transform: scale(0.9);
transform: scale(0.9);
}
}